# generic
*.log*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
*.swp

# directories
.storage/
esphome/trash/
tts/

# add-ons
aircast.xml

# specific files
secrets.yaml
.HA_VERSION
webostv.conf
*.august.conf
