{% macro is_battery_low(entity_id) %}
    {# battery_ok: 1=normal, 0=low #}
    {% if is_number(state_attr(entity_id, 'battery_ok')) %}
      {% if is_state_attr(entity_id, 'battery_ok', 0) %}
        {{ true }}
      {% else %}
        {{ false }}
      {% endif %}
    {% endif %}
{% endmacro %}
